[Desktop Entry]
Name=VScodium
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/mnt/usrdata/kodx/work/programs/vscodium/vscodium.sh --unity-launch %F
Icon=/mnt/usrdata/kodx/work/programs/vscodium/resources/app/resources/linux/code.png
Type=Application
StartupNotify=true
StartupWMClass=VScodium
Categories=Utility;Development;IDE;
MimeType=text/plain;inode/directory;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/mnt/usrdata/kodx/work/programs/vscodium/vscodium.sh --new-window %F
Icon=/mnt/usrdata/kodx/work/programs/vscodium/resources/app/resources/linux/code.png
